<h1>Editing book</h1>

<% if @book.errors.any? %>
  <!--エラー数によりメッセージを分岐-->
  <% if @book.errors.count >= 2 %>
    <%= @book.errors.count %> errors prohibibited this book from being saved:
  <% else %>
    <%= @book.errors.count %> error prohibibited this book from being saved:
  <% end %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url: edit_u_path(@book.id) , method: :patch do |book| %>
  <div class="input-field">
    <label>Title</label>
    <%= book.text_field :title %>
  </div>
  <div class="input-field">
    <label>Body</label>
    <%= book.text_area :body %>
  </div>
  <div class="action">
    <%= book.submit 'Update Book' %>
  </div>
<% end %>
<%= link_to "Show", show_path(@book.id), method: :get %>
 |
<%= link_to "Back", index_path, method: :get %>