<h1>Editing book</h1>
<%= form_with model: @book, url: edit_u_path(@book.id) , method: :patch do |book| %>
  <div class="input-field">
    <label>Title</label>
    <%= book.text_field :title %>
  </div>
  <div class="input-field">
    <label>Body</label>
    <%= book.text_area :body %>
  </div>
  <div class="action">
    <%= book.submit 'Update Book' %>
  </div>
<% end %>
<%= link_to "Show", show_path(@book.id), method: :get %>
 |
<%= link_to "Back", index_path, method: :get %>