<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |books| %>
    <tr>
      <td><%= books.title %></td>
      <td><%= books.body %></td>
      <td><%= link_to "Show", show_path(books.id), method: :get %></td>
      <td><%= link_to "Edit", edit_path(books.id), method: :get %></td>
      <td><%= link_to "Destroy", index_d_path(books.id), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>New book</h2>
<% if @book.errors.any? %>
  <!--エラー数によりメッセージを分岐-->
  <% if @book.errors.count >= 2 %>
    <%= @book.errors.count %> errors prohibibited this book from being saved:
  <% else %>
    <%= @book.errors.count %> error prohibibited this book from being saved:
  <% end %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url: index_c_path(@book.id) , method: :post do |book| %>
  <div class="input-field">
    <label>Title</label>
    <%= book.text_field :title %>
  </div>
  <div class="input-field">
    <label>Body</label>
    <%= book.text_area :body %>
  </div>
  <div class="action">
    <%= book.submit 'Create Book' %>
  </div>
<% end %>
